$srgreen: #3a7731;
$srtan: #c69453;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#fourWinds{
  border-radius: 50%;
  border: 5px solid black;
  height: 309px;
  width: 310px;
  display: flex;
  flex-wrap: wrap;
}

.quarter{
  height:150px;
  width:150px;
}
#black{
  background-color: black;
  border-top-right-radius: 99% 95%;
}

#red{
  border-top: black solid 2.5px;
  border-right: black solid 2.5px;
  background-color: red;
  border-bottom-left-radius: 100%;
}

#white{
  border-left: black solid 2.5px;
  background-color: white;
  border-bottom-right-radius: 100%;
}

#yellow{
  border-bottom: black solid 2.5px;
  background-color: yellow;
  border-top-left-radius: 100%;
}

/* Space out content a bit */
body {
  background-color: $srgreen;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.top-spacer{
  height: 70px;
  background-color: $srtan;
}
.navbar {
  background-color: $srgreen;

}

.green-line{
  height: 40px;
  background-color:$srgreen;
}

.banner-message{
  position: sticky;
  top: 55px;
  z-index: 40;
}

.navbar-toggler-icon > div{
  border: black solid 2px;
  background-color: black;
  margin: .1rem 0 .3rem 0;
  width: 2rem;
  height: .2rem;
}

.nav-item > a {
  color: black;
  &:hover{
    color: white;
    background-color: #26376a;
  }
}

.navbar-toggler-icon > div{
  transition: all 500ms ease-in-out;
}

.navbar-toggler-icon.active > div:nth-of-type(2n) {
  background-color: transparent;
  border: none;
}

.navbar-toggler-icon.active > div:first-of-type {
  transform: rotate(45deg) translateY(.73rem);

}
.navbar-toggler-icon.active > div:last-of-type {
  // transform: matrix(.8, -.8, 0, 1, 2, -9);
  transform: rotate(-45deg) translateY(-.73rem);

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.jumbotron{
  background-color:$srtan;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

#Purchase{
  background-color: $srtan;
  // display: none;
}

#Contact{
  // display: none;
}

.message-box{
  background-color: $srtan;
}

.corner-text{
  background-color: $srtan;
}
/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
