$srgreen: #3a7731;
$srtan: #c69453;

@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

label {
  font-size: 20px;
}
body{
  font-family: 'Teko', sans-serif;
  width:100%;
  overflow-y: hidden;
  background-color: $srtan;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

a, span, p{
  font-size: 24px;
}

h2{
  font-size: 36px;
}

#jumboBackground{
  color: #e5ebee;
  background-image: url('../images/moon.jpg');
  background-size: cover;
  width:100%;
  height: auto;
  // position: fixed;
  box-shadow: 0px 4px 2px black;
}

.footer-icon{
  color: $srgreen;
  font-size: 32px;
  // width: 36px;
  // height: 36px;
}

#gamePlay{
  max-height: 300px;
  max-width:500px;
  min-width:300px;
}

#gamePieces{
  max-height:270px;
}

.opener-top-bar{
  display: block;
  width: 100%;
  height: 30%;
}

.opener{
  // display: none;
  z-index: 1050;
  position: fixed;
  background: linear-gradient(-30deg, #c1492d, yellow);
  width: 100%;
  height: 105%;
  top: -30px;
  color: black;
  text-align: center;
  // uncomment below to hide opener
  opacity: 0;
  animation: fadeaway 10s;
}

.opener-text-hidden{
  display: none !important;
}

.opener-text-active{
  display: block;
}

.opener-text-title{
  width:100%;
  display: block;
  animation: fadeinshort 4s;
}

#opener-logo{
  margin: 12vh 0 0 0;
  max-width:60%;
}

.short-fade{
  animation: fadeinshort 4s;
}

.opener-image{
  max-height: auto;
}

@keyframes fadeaway{
  0% {opacity: 1; display:block}
  50% {opacity: 1; }
  95% {opacity: 1 ;}
  100% {opacity: 0 ; display: none;}
}

@-o-keyframes fadeaway{
  0% {opacity: 1; }
  50% {opacity: 1; }
  95% {opacity: 1 ;}
  100% {opacity: 0 ; display: none;}
}

@-moz-keyframes fadeaway{
  0% {opacity: 1; }
  50% {opacity: 1; }
  95% {opacity: 1 ;}
  100% {opacity: 0 ; display: none;}
}

@-webkit-keyframes fadeaway{
  0% {opacity: 1; }
  50% {opacity: 1; }
  95% {opacity: 1 ;}
  100% {opacity: 0 ; display: none;}
}

@keyframes fadeinshort{
  0% {opacity: 0; }
  // 50% {opacity: 1; }
  // 75% {opacity: 1 ;}
  100% {opacity: 1 ; }
}

@-o-keyframes fadeinshort{
  0% {opacity: 0; }
  // 50% {opacity: 1; }
  // 75% {opacity: 1 ;}
  100% {opacity: 1 ; }
}

@-moz-keyframes fadeinshort{
  0% {opacity: 0; }
  // 50% {opacity: 1; }
  // 75% {opacity: 1 ;}
  100% {opacity: 1 ; }
}

@-webkit-keyframes fadeinshort{
  0% {opacity: 0; }
  // 50% {opacity: 1; }
  // 75% {opacity: 1 ;}
  100% {opacity: 1 ; }
}

.greenBg{
  background-color: $srgreen;
}

.coming-soon{
  z-index: 1020;
  // bottom: 300px;
  // position: sticky;
  top: 70px;
  background-color: transparent;
  transform:skewX(-14deg);
  transform: skewY(-5deg);
  text-shadow: 2px 2px black;
  // font-size: 4vh;
  padding-bottom: 2vh;
}

#medicineWheel{
  border-radius: 50%;
  box-shadow: 0px 0px 25px #b4d6e676;
  min-width: 170px;
  max-width:240px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#fourWinds{
  border-radius: 50%;
  border: 5px solid black;
  height: 309px;
  width: 310px;
  display: flex;
  flex-wrap: wrap;
}

.quarter{
  height:150px;
  width:150px;
}
#black{
  background-color: black;
  border-top-right-radius: 99% 95%;
}

#red{
  border-top: black solid 2.5px;
  border-right: black solid 2.5px;
  background-color: red;
  border-bottom-left-radius: 100%;
}

#white{
  border-left: black solid 2.5px;
  background-color: white;
  border-bottom-right-radius: 100%;
}

#yellow{
  border-bottom: black solid 2.5px;
  background-color: yellow;
  border-top-left-radius: 100%;
}

/* Space out content a bit */

.top-spacer{
  height: 70px;
  background-color: $srtan;
  // box-shadow: 0px 8px 8px #161101;
  position: sticky;
  top: 73px;
  z-index: -1;
}

.navbar {
  background-color: $srgreen;
  box-shadow: 0px 8px 8px #161101;
}

.green-line{
  height: 40px;
  background-color:$srgreen;
}


.navbar-toggler-icon > div{
  border: black solid 2px;
  background-color: black;
  margin: .1rem 0 .3rem 0;
  width: 2rem;
  height: .2rem;
}

.nav-item > a {
  color: black;
  &:hover{
    // color: white;
    background-color: $srtan;
  }
}

.navbar-toggler-icon > div{
  transition: all 500ms ease-in-out;
}

.navbar-toggler-icon.active > div:nth-of-type(2n) {
  background-color: transparent;
  border: none;
}

.navbar-toggler-icon.active > div:first-of-type {
  transform: rotate(45deg) translateY(.73rem);

}
.navbar-toggler-icon.active > div:last-of-type {
  // transform: matrix(.8, -.8, 0, 1, 2, -9);
  transform: rotate(-45deg) translateY(-.73rem);

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.jumbotron{
  background-color: transparent;
  padding-top: 0 !important;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

#Purchase{
  background-color: $srtan;
  // display: none;
}

#Contact{
  // display: none;
}

.my-center{
  margin-left: auto;
  margin-right:auto;
}

.corner-text{
  background-color: $srtan;
}
/* Customize container */
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  // border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

#Contact .btn {
  font-size:20px;
}
/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  #gamePlay{
    width: 500px;
    max-height: 500px;
    // max-width: 600px;
  }

  #medicineWheel{
    width: auto;
    max-width: 300px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 1.5rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .opener-top-bar{
    height:50%;
    padding: 0 0 3vh 0;
  }
}

@media screen and (min-width: 72em) {
  #medicineWheel {
    max-width: 350px;
  }
}


@media screen and (min-width: 30em) {
  #opener-logo{
    margin-top: 0vh !important;
    max-width: 45%;
  }
}
